* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 55%);
$dark-gray: hsl(0, 0%, 41%);

$font-size: 15px;
$family-alata: "Alata", sans-ser;
$family-josefin: "Josefin Sans", sans-ser;
